body {
    margin: 0;
    padding: 0;
}

html {
    scrollbar-width: none;
}

.left-side {
    height: 100%;
    width: 225px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: crimson;
}

.raitinig-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

}

.upper-platform {
    width: calc(100% - 225px);
    height: 900px;
    margin-left: 225px;
    display: flex;
}

.bottom-platform {
    width: calc(100% - 225px);
    height: 900px;
    background-color: #16171E;
    margin-left: 225px;
    align-content: center;
}

.upper-left {
    width: 100%;
    height: 100%;
    background-color: #7A7A7A;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.upper-right {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 100%;
    scrollbar-width: none;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.top-content {
    width: 100%;
    height: 110px;
    align-content: end;
    display: flex;
}

.info-song {
    display: flex;
    width: 100%;
    height: 160px;
}


.info-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: auto;
    text-align: start;
    padding-left: 70px;

}

.info-artist {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 26px;

    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF4D;

}

.info-song-name {
    width: 100%;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 64px;
    color: white;
    line-height: 100%;
    letter-spacing: 0%;

    padding-bottom: 20px;


}

.info-listeners {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

    color: white;

}

.text1 {
    height: 100%;
    width: calc(30% - 20px);
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-right: 20px;
    padding-left: 40px;
    text-indent: 40px;
}

.all-type {
    border: none;
    background-color: #585858;
    width: 125px;
    height: 46px;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    border-radius: 5px;

    text-indent: 10px;
}

.dropdown-wrapper {
    position: relative;
    display: flex;

}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #D9D9D9;
    border-radius: 2px;
    width: 125px;
    z-index: 100;
}

.dropdown-item {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-indent: 15px;
    align-content: center;
    cursor: pointer;
    height: 48px;
    width: 125px;
    background-color: #BDBDBD8F;


}

.dropdown-item:hover {
    background-color: #a8a8a88f;

}

.arrow {
    font-size: 12px;
    margin-left: auto;
}

.period {
    border: none;
    width: 270px;
    height: 46px;
    background-color: #8C8C8C8F;
    cursor: pointer;
    color: white;
    margin: 5px;
    text-align: start;
    text-indent: 20px;
    border-radius: 5px;

}


.btn-container {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;

}

.scroll-container {
    width: 450px;
    height: 100%;
    overflow: auto;
    scrollbar-color: #525252 transparent;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;

}

.scroll-item {
    width: 100%;
    height: 315px;
    display: flex;
    margin-bottom: 30px;


}

.item-place {
    height: 100%;
    width: 45px;
    background-color: transparent;
    align-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
}

.item-info {
    width: 380px;

}

.item-photo {
    width: 100%;
    height: 235px;
    border-radius: 5px;
}

.inside-info {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inside-name {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 15px;
    margin-bottom: 5px;

}

.inside-singer {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF75;
    margin-bottom: 7px;

}

.inside-listeners {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFFB2;
}

.bottom-content {
    width: 85%;
    height: 690px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.raite-item1 {
    width: 75%;
    height: 132px;
    background-color: #515259;
    display: flex;
    justify-content: space-between;
}

.raite-item2 {
    width: 60%;
    height: 132px;
    background-color: #515259;
    display: flex;
    justify-content: space-between;
}

.raite-item3 {
    width: 45%;
    height: 132px;
    background-color: #515259;
    display: flex;
    justify-content: space-between;
}

.raite-item4 {
    width: 35%;
    height: 132px;
    background-color: #515259;
    display: flex;
    justify-content: space-between;
}

.raite-item5 {
    width: 25%;
    height: 132px;
    background-color: #515259;
    display: flex;
    justify-content: space-between;
}

.raite-photo {
    width: 132px;
    height: 132px;
    background-color: #373737;
}

.raite-wrapper {
    width: 100%;
    height: 132px;
    align-items: center;
    display: flex;

}

.raite-listeners {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    margin-left: 60px;

}

.raite-end1,
.raite-end2,
.raite-end3,
.raite-end4,
.raite-end5 {
    height: 100%;
    width: 11px;
}

.raite-end1 {
    background-color: #FF4400;

}

.raite-end2 {
    background-color: #931533;

}

.raite-end3 {
    background-color: #5C3380;

}

.raite-end4 {
    background-color: #2651CB;

}

.raite-end5 {
    background-color: #0066FF;

}

.text2 {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 25px;
    margin-left: 100px;

}

.raite-center {
    flex: 1;
    align-content: center;
}

.raite-text {
    margin-left: 30px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;


}

.period-dropdown-wrapper {
    position: relative;
    display: inline-block;
}

.period-button {
    background-color: #3C3C3C8F;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

    cursor: pointer;
    color: #ffffff;
    width: 270px;
    height: 46px;
    text-align: start;
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-indent: 10px;
}

.period-arrow {
    margin-left: 6px;
    font-size: 12px;
}

.period-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #BDBDBD8F;
    z-index: 10;
    width: max-content;
    min-width: 270px;
    margin-left: 5px;

}

.period-dropdown-item {
    color: #fff;
    width: 100%;
    height: 46px;
    align-content: center;
    text-indent: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: #BDBDBD8F;

}

.period-dropdown-item:hover {
    background-color: #a8a8a88f;
}