.likes-container {
    width: 100%;
    height: calc(86.5vh - 50px);
    margin-left: 225px;
    justify-content: center;


}

.likes-platform {
    width: calc(100% - 225px);
    height: 100%;
    display: flex;
    justify-content: center;

}

.empty1 {
    width: 100%;
    height: 50px;
}

.playlist-element {
    max-width: 200px;
    height: 45px;
    min-width: 130px;
    border-radius: 5px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

}

.likes-content {
    width: 96%;
    overflow: visible;
    height: auto;
    scrollbar-width: none;
}

.upper {
    width: 100%;
    background-color: #2C2C31;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.middle {
    width: 100%;
    height: 268px;
    background-color: #49494D;
    align-items: center;
    display: flex;
}

.bottom {
    width: 100%;
    height: 100%;
    background-color: #2C2C31;
    display: flex;
    justify-content: center;
    overflow: auto;

    scrollbar-width: none;
    padding-bottom: 120px;

}

.footer-container {
    position: fixed;
    bottom: 0;
    width: calc(100% - 225px);
    height: 12vh;
    display: flex;
    z-index: 1000;
    justify-content: center;
    margin-left: 225px;
    background-color: cornflowerblue;
}
.playlist-platform {
  width: 95%;
  min-height: 90px;
  align-items: center;
  overflow-y: hidden;
  display: flex;
  gap: 10px;
  scrollbar-width: thin;
  margin-bottom: 10px;
  scrollbar-color: white transparent;
}

.back-search {
    width: 100%;
    height: 75px;
    align-items: end;
    display: flex;
}

.backbtn {
    width: 90px;
    height: 35px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    margin-right: 20px;
    background-image: url(/public/images/Arrow\ 4.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.search-likes {
    width: 495px;
    height: 47px;
    background-color: #FFFFFF;
    border-radius: 5px;
    text-indent: 20px;
    border: none;
    outline: none;
    color: black;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

}

.search-likes::placeholder {
    color: black;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.likes-playlists {
    width: 95%;
    height: 50%;
    align-items: center;
    display: flex;
    flex-direction: row;
    overflow: auto;
    gap: 10px;
    scrollbar-width: thin;
}

.toggle-mode {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.mode-button {
    border: none;
    border-bottom: 2px solid #555;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 19px;
    padding: 10px;
}

.mode-button.active {
        border-bottom: 2px solid #FF4400;


}

.playlist {
    width: 193px;
    height: 42px;
    background-color: #FFFFFF;
    border-radius: 5px;
    flex-shrink: 0;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

    border: none;
    cursor: pointer;

}

.likes-photo {
    width: 167px;
    height: 167px;
    background-color: #D9D9D9;
    border-radius: 5px;
    margin-left: 40px;
    object-fit: cover;
}

.likes-text {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    margin-bottom: 23px;

}

.play-btn {
    border: none;
    background-color: #FF4400;
    cursor: pointer;
    width: 229px;
    height: 45px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    border-radius: 5px;
}

.likes-play {
    margin-left: 45px;

}

.rec-text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-bottom: 20px;

}

.bottom-wrapper {
    width: 95%;
    height: 100%;
    margin-top: 23px;

}

.liked-song {
    width: 100%;
    height: 66px;
    background-color: rgb(102, 104, 102);
    margin-bottom: 10px;
}

.pa-delete {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    background-image: url(/public/images/trash.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 5%;
}