.container {
    width: 100%;
    display: flex;
}


.profile-side {
    width: 85%;
    height: auto;
    margin-right: 100px;
    margin-left: 245px;
    padding-bottom: 50px;

}

.channel-hat {
    width: 100%;
    height: 274px;
    background:
        linear-gradient(125deg, #BABCD0 80%, #191B30 100%, #BABCD0 70%),
        linear-gradient(-125deg, #BABCD0 80%, #191B30 100%, #BABCD0 70%);
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0 0 5px 5px;
}

.hat-setting-platform {
    width: 9px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    left: 95%;
    top: 20%;
}

.status {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    position: relative;
    left: 72%;
    top: 80%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    background-image: url(/public/images/settings.svg);

    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Меню біля статусу */
.status-menu {
    position: absolute;
    bottom: -90px;
    left: 155px;
    background: #656565;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 206px;
    height: auto;


}

.menu-item {
    cursor: pointer;
    text-align: start;
    color: white;
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 100%;
    height: 45px;
    align-content: center;
    text-indent: 25px;

}

.menu-item1 {
    cursor: pointer;
    text-align: start;
    color: white;
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 100%;
    height: 45px;
    align-content: center;
    text-indent: 25px;
    border-bottom: 1px solid white;

}

.menu-item:hover,
.menu-item1:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.profile-photo {
    width: 165px;
    height: 165px;
    background-color: #919191;
    border-radius: 50%;
}


.you-name {
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;

}

.wrap {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
}

.profile-bio {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;

    text-align: center;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 5px;

}

.return-profile {
    margin-left: 85%;
    top: 20px;
    position: relative;
    cursor: pointer;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    border: none;
    background-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.edit-container {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
}

.edit-main {
    width: 721px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.edit-btnup {
    width: 125px;
    height: 35px;
    background-color: #D3D3D3;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn {
    width: 125px;
    height: 35px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    align-content: center;
    background-color: #D3D3D3;
}

.your-name-text {
    width: 100%;
    text-align: start;
    margin-top: 20px;
    margin-bottom: 7px;

    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    height: 24px;
}

.standart-profile-text {
    width: 351px;
    text-align: start;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

    color: #FFFFFF;
    height: 24px;
}

.proffesional-profile-text {
    width: 351px;
    text-align: start;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #585858;
    height: 24px;
}

.two-in-one {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
}

.edit-name {
    width: 347px;
    height: 53px;
    background: #EEEEEE;
    text-indent: 7px;
    border: none;
    outline: none;
    border-radius: 5px;

    font-family: 'Manrope' s sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;

}

.edit-name::placeholder,
.edit-last-name::placeholder {
    font-family: 'Manrope' s sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}


.edit-last-name {
    width: 347px;
    height: 53px;
    background: #EEEEEE;
    text-indent: 7px;
    border: none;
    outline: none;
    border-radius: 5px;

    font-family: 'Manrope' s sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}

.edit-username {
    width: 347px;
    height: 53px;
    background: #EEEEEE;
    text-indent: 7px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;


}

.two-in-one-text {
    width: 100%;
    height: 24px;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;

}

.prof-profile {
    width: 351px;
    height: 55px;
    background-color: #6D6D6D;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    align-content: center;
    text-indent: 7px;
    border-radius: 5px;

}

.edit-nickname {
    width: 347px;
    height: 53px;
    background: #EEEEEE;
    text-indent: 7px;
    border: none;
    outline: none;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    border-radius: 5px;

}

.edit-email {
    width: 347px;
    height: 53px;
    background: #EEEEEE;
    text-indent: 7px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.edit-password {
    width: 347px;
    height: 53px;
    background: #EEEEEE;
    text-indent: 7px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;

}

.btn-edit-plat {
    width: 351px;
    height: 55px;
    color: white;
    text-align: center;
    align-content: center;
}

.btn-edit {
    width: 197px;
    height: 55px;
    background-color: #4F4F4F;
    color: white;
    text-align: center;
    align-content: center;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    cursor: pointer;
    border-radius: 5px;

}

.edit-insta {
    width: 347px;
    height: 53px;
    background: #EEEEEE;
    text-indent: 7px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.edit-tg {
    width: 347px;
    height: 53px;
    background: #EEEEEE;
    text-indent: 7px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.edit-bt-plat {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.save-btn-plat {
    width: 100%;
    height: 58px;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;

}

.save-btn {
    width: 328px;
    height: 58px;
    background-color: #FF4400;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    text-align: center;
    align-content: center;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.logout-btn {
    width: 328px;
    height: 58px;
    background-color: #2E2E2E;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    text-align: center;
    align-content: center;
    cursor: pointer;
    border-radius: 5px;
    border: none;

}

.your-name-text {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    padding-bottom: 3px;
}

.edit-location {
    width: 347px;
    height: 53px;
    background: #EEEEEE;
    text-indent: 7px;
    border: none;
    outline: none;
    border-radius: 5px;
}